<!--footer -->
<footer class="py-lg-5 py-3">
  <div class="container-fluid px-lg-5 px-3">
    <div class="row footer-top-w3layouts">
      <div class="col-lg-3 footer-grid-w3ls">
        <div class="footer-title">
          <h3>About Us</h3>
        </div>
        <div class="footer-text">
          <p>
            We are Official and Authentic Curren watches store. Our premium watches are designed beautifully and reasonably priced that fits in everyone's budget. Buy your favorite Curren Brand from our online shop. Quality Watches for Less!
          </p>
          <ul class="footer-social text-left mt-lg-4 mt-3">
            <li class="mx-2">
              <a href="https://www.facebook.com/tickworks" target="_blank">
                <span class="fab fa-facebook-f"></span>
              </a>
            </li>
            <li class="mx-2">
              <a href="https://twitter.com/tickworks1" target="_blank">
                <span class="fab fa-twitter"></span>
              </a>
            </li>
            <li class="mx-2">
              <a href="https://www.instagram.com/tick_works" target="_blank">
                <span class="fab fa-instagram"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 footer-grid-w3ls">
        <div class="footer-title">
          <h3>Get in touch</h3>
        </div>
        <div class="contact-info">
          <div class="phone">
            <h4>Contact :</h4>
            <p>Phone : +27 73 760 6387</p>
            <p>
              Email :
              <a href="mailto:info@tickworks.co.za">info@tickworks.co.za</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 footer-grid-w3ls">
        <div class="footer-title">
          <h3>Quick Links</h3>
        </div>
        <ul class="links">
          <li>
            <a [routerLink]="['/']">Home</a>
          </li>
          <li>
            <a [routerLink]="['/about-us']">About</a>
          </li>
          <li>
            <a [routerLink]="['/shop']">Shop</a>
          </li>
          <li>
            <a [routerLink]="['/contact-us']">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 footer-grid-w3ls">
        <div class="footer-title">
          <h3>Sign up for your offers</h3>
        </div>
        <div class="footer-text">
          <p>By subscribing to our mailing list you will always get latest products and updates from us.</p>

          <form #signupForm="ngForm">
            <input
              class="form-control"
              type="email"
              [(ngModel)]="email"
              name="email"
              placeholder="Enter your email..."
              required=""
              pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
            />
            <button [disabled]="!signupForm.form.valid" (click)="subscribeToNewsletter()" class="btn1">
              <i class="far fa-envelope" aria-hidden="true"></i>
            </button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
    <div class="copyright-w3layouts mt-4">
      <p class="copy-right text-center">
        &copy; 2020 Tickworks. All Rights Reserved | Design by
        <a href="http://slowcode.co.za">slowcode </a>
      </p>
    </div>
  </div>
</footer>
<!-- //footer -->
