<section class="banner-bottom-wthreelayouts">
  <h3 class="tittle-w3layouts my-lg-4 my-4">New Arrivals for you</h3>
  <div class="row">
    <!-- new arrivals -->
    <div class="col-md-3 product-men women_two" *ngFor="let product of products; let i = index">
      <!-- {{product | json}} -->
      <div class="product-googles-info googles mb-3" *ngIf="i < 8">
        <div class="men-pro-item">
          <div class="men-thumb-item">
            <img src="{{ product.image }}" class="img-fluid" alt="" />
            <div class="men-cart-pro">
              <div class="inner-men-cart-pro">
                <a class="link-product-add-cart" (click)="setCurProduct(product)">Add to cart</a>
              </div>
            </div>
            <span class="product-new-top">New</span>
          </div>
          <div class="item-info-product">
            <div class="info-product-price">
              <div class="grid_meta">
                <div class="product_price">
                  <h4>
                    <a href="single.html">{{ product.name }}</a>
                  </h4>
                  <div class="grid-price mt-2">
                    <span class="money">{{ product.price | currency: 'R' }}</span>
                  </div>
                </div>
                <ul class="stars">
                  <li>
                    <a href="#">
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-star-half-o" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="googles single-item hvr-outline-out">
                <button (click)="setCurProduct(product)" class="googles-cart pgoogles-cart">
                  <i class="fas fa-cart-plus"></i>
                </button>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- //new arrivals -->
  </div>
  <div
    mdbModal
    #basicModal="mdbModal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myBasicModalLabel"
    aria-hidden="true"
  > 
  
    <div class="modal-dialog cascading-modal modal-avatar modal-md" role="document">
    
      <div class="modal-content">
        
        <div class="modal-header">
          <img src="{{ imageUri }}" alt="avatar" class="rounded-circle img-responsive" />
        </div>
        <div class="modal-body mb-1">
          <h5 class="mt-1 mb-2 text-center">Add to cart</h5>
          <div class="md-form ml-0 mr-0">
            <select ([value])="selected" (change)='handleSelectChange($event)' class="browser-default custom-select">
              <option selected>Number of items</option>
              <option value="1" >1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
          <div class="text-center mt-4">
            <button
              mdbBtn
              color="red"
              rounded="true"
              class="mt-1 waves-light"
              mdbWavesEffect
              (click)="basicModal.hide()"
            >
              Cancel
              <mdb-icon fas icon="sign-in-alt" class="ml-1"></mdb-icon>
            </button>
            <button mdbBtn [disabled]="!selected" (click)="addProductToCart(product)" color="cyan" rounded="true"  class="mt-1 waves-light" mdbWavesEffect>
              Add
              <mdb-icon fas icon="sign-in-alt" class="ml-1"></mdb-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
