<!-- banner -->
<div class="banner_inner">
  <div class="services-breadcrumb">
    <div class="inner_breadcrumb">
      <ul class="short">
        <li>
          <a href="index.html">Home</a>
          <i>|</i>
        </li>
        <li>Shop</li>
      </ul>
    </div>
  </div>
</div>
<!--//banner -->

<!--/shop-->
<section class="banner-bottom-wthreelayouts py-3">
  <div class="container-fluid">
    <div class="inner-sec-shop px-3">
      <app-new-arrivals></app-new-arrivals>
      <!--/slide-->
      <div class="slider-img mid-sec mt-lg-5 mt-2">
        <!--//banner-sec-->
        <h3 class="tittle-w3layouts text-left my-lg-4 my-3">Featured Products</h3>
        <app-multi-item-carousel></app-multi-item-carousel>
      </div>
      <!--//slider-->
    </div>
  </div>
</section>

<app-modal [product]="currentProduct"></app-modal>
