<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">
  <!-- Navbar brand -->
  <mdb-navbar-brand
    ><a class="navbar-brand" href="#">
      <img src="../../../assets/images/tickworks-logo-white.png" alt="" class="logo" /> </a
  ></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          [routerLink]="['/']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link waves-light"
          mdbWavesEffect
          >Home<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a
          [routerLink]="['/about-us']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link waves-light"
          mdbWavesEffect
          >About us</a
        >
      </li>
      <li class="nav-item">
        <a
          [routerLink]="['/shop']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link waves-light"
          mdbWavesEffect
          >Shop</a
        >
      </li>
      <li class="nav-item">
        <a
          [routerLink]="['/contact-us']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link waves-light"
          mdbWavesEffect
          >contact us</a
        >
      </li>
    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link" href="https://www.facebook.com/tickworks" target="_blank">
          <mdb-icon fab icon="facebook"></mdb-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://twitter.com/tickworks1" target="_blank">
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.instagram.com/tick_works" target="_blank">
          <mdb-icon fab icon="instagram"></mdb-icon>
        </a>
      </li>
      <li class="nav-item dropdown cart-dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect
          >{{ getCartSize() }}<mdb-icon fas icon="cart-arrow-down"></mdb-icon
        ></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <div class="shopping-cart">
            <div class="shopping-cart-header">
              <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">{{ getCartSize() }}</span>
              <div class="shopping-cart-total">
                <span class="lighter-text">Total:</span>
                <span class="main-color-text">{{ getTotalPrice() | currency: 'R' }}</span>
              </div>
            </div>
            <!--end shopping-cart-header -->

            <ul class="shopping-cart-items" *ngFor="let product of cartItems">
              <li class="clearfix">
                <img src="{{ product.image }}" />
                <span class="item-name">{{ product.name }}</span>
                <span class="item-price">{{ product.price | currency: 'R' }}</span
                ><br />
                <span class="item-quantity">Quantity: {{ product.quantity }}</span>
              </li>
            </ul>

            <button (click)="checkout()" [disabled]="getCartSize() <= 0" class="form-control checkout">Checkout</button>
          </div>
          <!--end shopping-cart -->
          <!--end container -->
        </div>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
<div>
  <ul class="cart-dropdown-mobile">
    <li class="nav-item dropdown" dropdown>
      <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect
        >{{ getCartSize() }}<mdb-icon fas icon="cart-arrow-down"></mdb-icon
      ></a>
      <div
        *dropdownMenu
        class="dropdown-menu dropdown-menu-right dropdown dropdown-primary shopping-cart-mobile"
        role="menu"
      >
        <div class="shopping-cart shopping-cart-mobile">
          <div class="shopping-cart-header">
            <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">{{ getCartSize() }}</span>
            <div class="shopping-cart-total">
              <span class="lighter-text">Total:</span>
              <span class="main-color-text">{{ getTotalPrice() | currency: 'R' }}</span>
            </div>
          </div>
          <!--end shopping-cart-header -->

          <ul class="shopping-cart-items" *ngFor="let product of cartItems">
            <li class="clearfix">
              <img src="{{ product.image }}" />
              <span class="item-name">{{ product.name }}</span>
              <span class="item-price">{{ product.price | currency: 'R' }}</span
              ><br />
              <span class="item-quantity">Quantity: {{ product.quantity }}</span>
            </li>
          </ul>

          <button (click)="checkout()" [disabled]="getCartSize() <= 0" class="form-control checkout">Checkout</button>
        </div>
        <!--end shopping-cart -->
        <!--end container -->
      </div>
    </li>
  </ul>
</div>
