@import './assets/css/shop.scss';
@import './assets/css/style.scss';

// ????????????????????????????????????????????????????
// modify toastr ADD !IMPORTART for styles to work

// .toast-container {
// }

// .toast-container .toast {

// .toast-success{
//   background-image: none !important;
// }

// .toast-success::after{
//   content: '\f00c' !important;
//   font-family: 'FontAwesome' !important;

// }

// .toast-title{
// }

// .toast-message{
// }
// ?????????????????????????????????????

html {
  scroll-behavior: smooth;
}

.rated i{
  color: orange !important;
  
}

input.ng-invalid.ng-touched {
  border-color: #fa787e !important;
}

.unique-color {
  background-color: #f60d0f !important;
}
.banner_inner {
  background: url(/../../../assets/images/banners/banner-mid.jpg) no-repeat 0px -73px;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  min-height: 180px;
}
div.carousel.carousel-multi-item.multi-animation {
  a.btn-floating {
    color: #ff4e00 !important;
    margin-right: 10px !important;
  }
}
app-what-people-say {
  .carousel {
    .carousel-control-prev-icon {
      background-image: url(./assets//images/arrow_left_black.svg) !important;
      margin-top: -6vw;
    }
    .carousel-control-next-icon {
      background-image: url(./assets//images/arrow_right_black.svg) !important;
      margin-top: -6vw;
    }
  }
}
