<!-- banner -->
<div class="banner_inner">
  <div class="services-breadcrumb">
    <div class="inner_breadcrumb">
      <ul class="short">
        <li>
          <a href="index.html">Home</a>
          <i>|</i>
        </li>
        <li>Checkout</li>
      </ul>
    </div>
  </div>
</div>
<!--//banner -->

<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
  <div class="container">
    <h3 class="tittle-w3layouts text-center my-lg-4 my-4">Checkout</h3>
    <div class="inner_sec">
      <p class="sub text-center mb-lg-5 mb-3">It's time to place your order for your goodies!</p>
      <table mdbTable striped="true mb-5" *ngIf="elements.length > 0">
        <thead>
          <tr class="table-header">
            <th *ngFor="let head of headElements" scope="col">{{ head }}</th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let product of elements">
            <td>{{ product.name }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.price * product.quantity | currency: 'R' }}</td>
            <td>
              <button (click)="removeProductFromCart(product)" class="remove-icon">
                <mdb-icon far icon="times-circle"></mdb-icon>
              </button>
            </td>
          </tr>
          <!-- add Space before column -->
          <tr mdbTableCol>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr mdbTableCol>
            <td>Total</td>
            <td></td>
            <!-- total not updating after clearing an item from cart -->
            <td>{{ total | currency: 'R' }}</td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <div class="contact_grid_right">
        <form #checkoutForm="ngForm">
          <div class="row contact_left_grid">
            <div class="col-md-6 con-left">
              <div class="form-group">
                <label class="my-2">Full name</label>
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="fullname"
                  name="fullname"
                  minlength="3"
                  maxlength="32"
                  placeholder="Full name"
                  required=""
                />
              </div>
              <div class="form-group">
                <label class="my-2">Contact number</label>
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="contact"
                  name="contact"
                  minlength="10"
                  placeholder="Contact number"
                  required=""
                />
              </div>
              <div class="form-group">
                <label class="my-2">Full address</label>
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="address"
                  name="address"
                  placeholder="Full address"
                  required=""
                />
              </div>
            </div>
            <div class="col-md-6 con-left">
              <div class="form-group">
                <label class="my-2">Email address</label>
                <input
                  class="form-control"
                  type="email"
                  [(ngModel)]="clientEmail"
                  name="clientEmail"
                  placeholder="Email address"
                />
              </div>
              <div class="form-group">
                <label class="my-2">Comment</label>
                <input class="form-control" type="text" [(ngModel)]="comment" name="comment" placeholder="Comment" />
              </div>
              <div class="form-group mt-20">
                <button (click)="placeOrder()" class="form-control">Place order</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
