.middle-text-info {
  background: url(../../../assets//images/banners/landscape3.jpg) no-repeat 0px 0px;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  min-height: 400px;
  padding: 3em 0 0 0;
}
